---
import Layout from "../layouts/Layout.astro";
---

<Layout title="exectx.run">
  <main class="flex h-screen items-center justify-center">
    <p>
      Hi!, I'm a software developer. I mainly do web development. I also enjoy
      building things and challenging myself.
    </p>
  </main>
</Layout>
