---
// export const prerender = true;

import Layout from "@/layouts/Layout.astro";
import ArrowSvg from "@/assets/arrow-up-right.svg";
import AnimatedClock from "@/components/Clock.astro";
import SliderGrid from "@/components/SliderGrid.astro";
import Globe from "@/components/Globe.astro";
---

<script>
  import { $ } from "@/lib/dom";

  const metaList = $("#meta-info")!;
  const timeDiffEl = $("#time-diff", metaList)!;
  const clockContainerEl = $("[data-tooltip-timezone]", metaList)!;

  const clientNow = new Date();
  // Get client's timezone offset in hours (e.g., UTC+3 → 3)
  const clientOffsetHours = -clientNow.getTimezoneOffset() / 60;
  const siteOffset = -5;
  // Calculate how much (GMT-5) is ahead/behind the CLIENT
  const diffHours = siteOffset - clientOffsetHours;
  if (diffHours === 0) {
    timeDiffEl.textContent = "same time";
    clockContainerEl.textContent = "We're in the same timezone!";
  } else {
    const hoursText = Math.abs(diffHours) === 1 ? "hour" : "hours";
    const hoursDiff = `${Math.abs(diffHours)} ${hoursText} ${
      diffHours > 0 ? "ahead" : "behind"
    }`;
    timeDiffEl.textContent = hoursDiff;
    clockContainerEl.textContent = `I'm ${hoursDiff} of you`;
  }

  // });
</script>

<Layout>
  <main class="px-4 w-full mx-auto max-w-[80ch]">
    <section class="pt-4 flex flex-col gap-10">
      <div class="grid place-items-center gap-4">
        <h1 class="text-4xl font-mono">~/exectx</h1>
        <Globe />
      </div>

      <div
        id="about"
        class="gap-[1px] border bg-border [&>div]:bg-background grid grid-cols-2"
      >
        <div class="grid-item col-span-2">
          <p class="p-4 h-full">
            I am a web developer, now learning ai systems and lots of cool tech.
            Previously worked in startups and realized that building software
            people want is so cool. For more information about my work, you can
            explore my <a
              href="/projects"
              class="underline hover:text-page transition-colors">projects</a
            >,
            <a href="/posts" class="underline hover:text-page transition-colors"
              >written content</a
            > or social media.
          </p>
        </div>
        <div class="grid-item">
          <ul id="meta-info" class="flex flex-col gap-2 p-4 h-full">
            <li>
              <div class="inline-block cursor-help relative group">
                <AnimatedClock />
                <span>GMT&nbsp;-5,</span>{" "}<span id="time-diff"></span>
                <div
                  data-tooltip-timezone
                  class="absolute z-10 hidden group-hover:block w-full bg-background border p-2 shadow-md left-full max-sm:left-1/2 bottom-full max-sm:-translate-x-1/2"
                >
                </div>
              </div>
            </li>
            <li>V.2024.12.17</li>
            <li class="flex items-center gap-2">
              <div class="relative size-2 rounded-full bg-page">
                <div
                  class="animate-ping-2 absolute bg-page/50 rounded-full inset-0"
                >
                </div>
              </div>

              <SliderGrid initialNumber={0} /> online
            </li>
          </ul>
        </div>

        <div class="grid-item">
          <ul class="flex flex-col gap-2 p-4 h-full">
            <li>
              <a
                href="mailto:i@exectx.run"
                class="underline hover:text-page transition-colors"
                >i@exectx.run</a
              >
            </li>
            <li>
              <a
                href="https://github.com/exectx"
                class="underline inline-flex items-center gap-1 hover:text-page transition-colors"
                >github
                <ArrowSvg class={"size-4"} />
              </a>
            </li>
            <li>
              <a
                href="https://bsky.app/profile/exectx.bsky.social"
                class="underline inline-flex items-center gap-1 hover:text-page transition-colors"
                >bluesky
                <ArrowSvg class={"size-4"} />
              </a>
            </li>
            <li>
              <a
                href="https://twitter.com/exectx"
                class="underline inline-flex items-center gap-1 hover:text-page transition-colors"
                >twitter
                <ArrowSvg class={"size-4"} />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section aria-hidden="true" class="h-16 border-x hidden"></section>
  </main>
</Layout>

<style>
  .dashed-divider {
    position: absolute;
    left: 0;
    height: 1px;
    width: 100%;
    background: repeating-linear-gradient(
      90deg,
      hsla(0, 0%, 66%, 1),
      hsla(0, 0%, 66%, 1) 4px,
      transparent 4px,
      transparent 10px
    );
  }
</style>
