---
import Layout from "../layouts/Layout.astro";
---

<Layout title="exectx.run">
  <div
    class="mx-auto flex h-screen max-w-prose items-center justify-center px-4"
  >
    <main>
      <p>
        Hi! I'm a software developer. I usually do web development. I also enjoy
        building things and challenging myself.
      </p>
    </main>
  </div>
</Layout>
