<div class="flex flex-col items-center justify-center h-full space-y-4">
  <h1 class="text-4xl font-mono">Under Construction</h1>
  <p class="text-lg text-center">
    This page is under construction. Check back later!
  </p>
</div>
